.sectionContainer{
  padding: 56px 0;
  min-height: 2362px;
  position: relative;
}

.sectionBackground{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: url(/Images/SectionBackground.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.contentContainer{
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 56px 12px;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}


.contentTitle,
.subContentTitle{
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

.contentTitle{
  font-size: 48px;
}

.subContentTitle{
  font-size: 32px;
}

.redSeperatorContainer{
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 3rem;
}

.redSeperator{
  width: 36px;
  height: 4px;
  background-color: #c6352a;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.teamsLogoContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.teamContainer{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: calc(10% - 32px);
  margin: 0 16px 16px;
}

.teamLogoContainer{
  text-align: center;
}

.teamTitle,
.matchTeamTitle,
.leagueTitle,
.matchDate{
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  font-weight: 400;
  word-break: break-word;
}

.matchDate{
  font-size: 20px;
}

.leagueTitle{
  font-size: 16px;
}

.teamLogo{
  margin-left: 0.5px;
}

.matchResultContainer{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.matchTeamContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  width: 72px;
}

.centerMatchInfoContainer{
  height: 128px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.scoresContainer{
  display: flex;
  justify-content: center;
  gap: 4px;
}

.scoresCell{
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 32px;
  background-color: #000;
  text-align: center;
  color: #fff;
}

@media only screen and (min-width:1200px){
  .contentContainer{
    max-width: 1140px;
  }
}